.card-photo {
    height: 200px;
    width: auto;
    object-fit: cover;
    filter: saturate(60%);
}

.edit-btn {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 40px
}

.edit-btn:hover {
    color: black;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px
}

.delete-btn:hover {
    color: darkred;
}

.is-open-status {
    background-color: none;
}

.list-container {
    border: 1px solid black;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.cards {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(35% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}