.card-photo {
    height: 200px;
    width: auto;
    object-fit: cover;
    filter: saturate(60%);
}

.edit-btn {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 40px
}

.edit-btn:hover {
    color: black;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px
}

.delete-btn:hover {
    color: darkred;
}

.is-open-status {
    background-color: none;
}

.list-container {
    border: 1px solid black;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
}