{% load form_tags %}

<div class="pl-lg-4">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="id_name">Name*</label>
        {{ form.name|add_class:'form-control' }}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="id_image">Image URL</label>
        {{ form.image|add_class:'form-control' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="form-control-label" for="id_description">Description*</label>
        {{ form.description|add_class:'form-control' }}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="form-group">
          <label class="form-control-label" for="id_tags">Tags</label>
          {{ form.tags|add_class:'form-control' }}
        </div>
      </div>
      <div class="row">
        <div class="list-container">
          <label class="form-control-label">Available tags</label>
          {% if all_tags %}
            <ul>
              {% for tag in all_tags %}
                <li>{{ tag.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <p>* = Required fields</p>
</div>
