{% extends 'layouts/base.html' %}

{% load place_extras %}


{% block title %}
  Edit Event
{% endblock %}


{% block content %}
  <div class="header pb-6" style="background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-default opacity-8"></span>
    <br>

    <div class="container">
      <div class="row align-items-center">
        <div class="mx-auto">
          <div class="card shadow border" style="width: 18rem; position: relative;">
            <img src="{{ event.image }}" class="card-img-top card-img-fixed card-photo" alt="..."/>
            <div class="card-body d-flex flex-column align-items-center">
              <h1 class="card-title" style="text-align: center">{{ event.name }}</h1>
              {% if linked_places %}
                <div class="listbox-area">
                  <div>
                    <span class="listbox-label">
                      Place(s): 
                    </span>
                    <ul tabindex="0" role="listbox">
                      {% for place in linked_places %}
                        <li role="option">
                          <span class="checkmark" aria-hidden="true"></span>
                          {{ place|get_place_name }}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

              <p class="card-text">{{ event.description }}</p>
              
              <p style="font-size: 12px;">
                {% for tag in linked_tags %}
                  #{{ tag.tagName }}
                {% endfor %}
              </p>
              
              {% if places %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add to a place
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for place in places %}
                      <a class="dropdown-item text-wrap" href="{% url 'add_place_to_event' place.id event_id %}" style='overflow-wrap: break-word;'>{{ place.name }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if linked_places %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Remove a place
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for place in linked_places %}
                      <a class="dropdown-item text-wrap" href="{% url 'remove_place_from_event' place event_id %}" style='overflow-wrap: break-word;'>{{ place|get_place_name }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit this event</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %}
            <div>
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <h6 class="heading-small text-muted mb-4">Event information</h6>

            {% include 'home/partials/event_form.html' %}

            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

{% block javascripts %} {% endblock %}