{% extends 'layouts/base.html' %}

{% load form_tags %}
{% load miscellaneous_extras %}
{% load place_extras %}


{% block title %}
  Events
{% endblock %}


{% block content %}
  <div class="header pb-6" style="background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>

    <!-- Header container -->
    {% if events %}
      <div class="col">
        <h1 class="display-2 text-white">Current Events</h1>
        <div class="row">
          <div class="col">
            <div class="d-flex overflow-auto">
              {% for event in events %}
                <div class="card mr-3" style="width: 18rem; position: relative;">
                  <img src="{{ event.image }}" class="card-img-top card-img-fixed card-photo" alt="..."/>
                  <div class="card-body d-flex flex-column align-items-center">                  
                    <h1 class="card-title">{{ event.name }}</h1>
                    {% if linked_places|get_item:event.id %}
                      <div class="listbox-area">
                        <div>
                          <span class="listbox-label">
                            Place(s):
                          </span>
                          <ul tabindex="0" role="listbox">
                            {% for place in linked_places|get_item:event.id  %}
                              <li role="option">
                                <span class="checkmark" aria-hidden="true"></span>
                                {{ place|get_place_name }}
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    {% endif %}

                    <p class="card-text">{{ event.description }}</p>

                    <p style="font-size: 12px;">
                      {% for tag in linked_tags|get_item:event.id %}
                        #{{ tag }}
                      {% endfor %}
                    </p>
                  </div>

                  <br>

                  <form action="{% url 'edit_event' event.id %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="edit-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                  </form>
                  <form action="{% url 'delete_event' event.id %}" method="POST">
                    {% csrf_token %}
                    <buttontype="submit" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add an event</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %}
            <div>
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <h6 class="heading-small text-muted mb-4">Event information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_name">Name</label>
                    <!-- <input type="text" id="input-username" class="form-control" placeholder="The name of the event" value=""> -->
                    {{ form.name|add_class:'form-control' }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_image">Image URL</label>
                    <!-- <input type="email" id="input-email" class="form-control" placeholder="The URL to the descriptive image for that event"> -->
                    {{ form.image|add_class:'form-control' }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_description">Description</label>
                    <!-- <input type="text" id="input-first-name" class="form-control" placeholder="A short description that visitors can read in a few seconds" value=""> -->
                    {{ form.description|add_class:'form-control' }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_tags">Tags</label>
                    <!-- <input type="text" id="input-first-name" class="form-control" placeholder="A short description that visitors can read in a few seconds" value=""> -->
                    {{ form.tags|add_class:'form-control' }}
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
