{% extends 'layouts/base.html' %}

{% block title %}
  Users
{% endblock %}

{% block content %}
  <div class="header pb-6">
    <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col">
          <table class="table">
            <tr>
              <td>
                <b>Email</b>
              </td>
              <td>
                <b>First Name</b>
              </td>
              <td>
                <b>Last Name</b>
              </td>
              <td>
                <b>Opted In</b>
              </td>
            </tr>

            {% for user in users.items %}
              <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.optedIn }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="row justify-content-start">
        {% if users.nextToken %}
          <div class="col-2">
            <div class="d-grid gap-2">
              <form action="{% url 'users' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="token" value="{{ users.nextToken }}" />
                <button type="submit" class="btn btn-primary">Next</button>
              </form>
            </div>
          </div>
        {% elif not isFirstPage %}
          <div class="col-2">
            <div class="d-grid gap-2">
              <form action="{% url 'users' %}" method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">Back to Start</button>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

{% block javascripts %}

{% endblock %}
