{% extends 'layouts/base.html' %}

{% block title %}
  Users
{% endblock %}

{% block content %}
  <div class="header pb-6">
    <div class="container-fluid">
      <br />

      <div class="row justify-content-start">
        {% if not isFirstPage %}
          <a class="btn btn-warning" href="{% url 'users' 0 %}" role="button">Previous</a>
        {% else %}
          <a class="btn btn-secondary" href="{% url 'users' 0 %}" role="button" style="pointer-events: none; text-decoration: none">Previous</a>
        {% endif %}

        {% if users.nextToken %}
          <a class="btn btn-primary" href="{% url 'users' 1 %}" role="button">Next</a>
        {% else %}
          <a class="btn btn btn-danger" href="{% url 'users' %}" role="button">Beginning</a>
        {% endif %}
      </div>

      <br />

      <div class="row justify-content-start">
        <div class="col">
          <table class="table">
            <tr>
              <td>
                <b>Email</b>
              </td>
              <td>
                <b>First Name</b>
              </td>
              <td>
                <b>Last Name</b>
              </td>
              <td>
                <b>Opted In</b>
              </td>
            </tr>

            {% for user in users.items %}
              <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.optedIn }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

{% block javascripts %}

{% endblock %}
