{% extends 'layouts/base.html' %}

{% load form_tags %}



{% block title %}
  Places
{% endblock %}


{% block content %}
  <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    
    <!-- Header container -->
    {% if places %}
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Current Places</h1>
        <div class="row mt-4">
          <div class="col">
            <div class="d-flex overflow-auto">
              {% for place in places %}
              <div class="card mr-3" style="width: 18rem; position: relative;">
                <img src="{{ place.image }}" class="card-img-top card-img-fixed card-photo" alt="..."/>
                <div class="card-body d-flex flex-column align-items-center">
                  <h5 class="card-title">{{ place.name }}</h5>
                  <p class="card-text">{{ place.description }}</p>
                  {% comment %} <small class="card-text">{{ place.id }}</small> {% endcomment %}

                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Add an animal
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for animal in animals %}
                        <a class="dropdown-item text-wrap" href="{% url 'add_animal_to_place' place.id animal.id %}" style='overflow-wrap: break-word;'>{{ animal.name }}</a>
                      {% endfor %}
                    </div>
                  </div>

                   <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Remove an animal
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for animal in linked_animals %}
                        <a class="dropdown-item text-wrap" href="{% url 'remove_animal_from_place' place.id animal.id %}" style='overflow-wrap: break-word;'>{{ animal.name }}</a>
                      {% endfor %}
                    </div>
                  </div>

                  {% comment %} <div class="dropdown">
                    <a href class="align-items-center text-white text-decoration-none" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded='false'>
                      {% if places %}
                        <button type="button" class="btn btn-outline-primary">Places <i class="bi bi-book"></i></button>
                      {% endif %}
                    </a>
                  
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark text-small shadow" style='width: 275px'>
                      <div class='container' style='max-height:80vh; overflow-y: auto; padding: 0'>
                        {% for animal in animals %} 
                          <li>
                            <a class="dropdown-item text-wrap" style='overflow-wrap: break-word;'>
                              <p>{{ animal.name }}</p>
                              <a class="btn btn-outline-danger" href="{% url 'add_animal_to_place' place.id animal.id %}"><i class="bi bi-dash-circle"></i></a>
                            </a>
                          </li>
                        {% endfor %}
                      </div>
                    </ul>
                  </div> {% endcomment %}
                </div>

                  <form action="{% url 'edit_place' place.id %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="edit-btn">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                  </form>
                  <form action="{% url 'delete_place' place.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                  </form>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <!--   <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Current Events at your park 
        </h1>
        <a href="#!" class="btn btn-neutral">Edit profile</a>
      </div>
    </div>
  </div>   -->
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!--           <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ request.user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div>           -->

    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add an place</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          {% if messages %}
            <div>
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}

          <form method="post">
            {% csrf_token %}

            <h6 class="heading-small text-muted mb-4">Place information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_name">Name</label>
                    <!-- <input type="text" id="input-username" class="form-control" placeholder="The name of the event" value=""> -->
                    {{ form.name|add_class:'form-control' }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_image">Image URL</label>
                    <!-- <input type="email" id="input-email" class="form-control" placeholder="The URL to the descriptive image for that event"> -->
                    {{ form.image|add_class:'form-control' }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_isOpen">isOpen</label>
                    {{ form.isOpen|add_class:'form-control' }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="id_description">Description</label>
                    <!-- <input type="text" id="input-first-name" class="form-control" placeholder="A short description that visitors can read in a few seconds" value=""> -->
                    {{ form.description|add_class:'form-control' }}
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
