{% extends 'layouts/base.html' %}

{% block title %}
  Animals
{% endblock %}

{% block content %}
  <div class="header pb-6" style="background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-default opacity-8"></span>

    {% if animals %}
      <div class="col">
        <h1 class="display-2 text-white">Current Animals</h1>
        <div class="row">
          <div class="col">
            <div class="d-flex overflow-auto">
              {% for animal in animals %}
                <div class="card mr-3" style="width: 18rem; position: relative;">
                  <img src="{{ animal.image }}" class="card-img-top card-img-fixed card-photo" alt="..." />
                  <div class="card-body d-flex flex-column align-items-center">
                    <h1 class="card-title" style="text-align: center">{{ animal.name }}</h1>

                    <form action="{% url 'edit_animal' animal.id %}" method="GET">
                      {% csrf_token %}
                      <button type="submit" class="edit-btn"><i class="fas fa-pencil-alt"></i></button>
                    </form>

                    <form action="{% url 'remove_animal' animal.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="container-fluid mt--6">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add an animal</h3>
            </div>
            <div class="col-4 text-right"></div>
          </div>
        </div>
        <div class="card-body">
          {% include 'home/partials/messages.html' %}

          <form method="post">
            {% csrf_token %}

            {% include 'home/partials/animal_form.html' %}

            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'includes/footer.html' %}
{% endblock %}

{% block javascripts %}

{% endblock %}
