<!-- myapp/templates/transaction_list.html -->
<div class="pagination is-centered" role="navigation">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li>
                <a class="pagination-link" href="?page=1">«</a>
            </li>
            <li>
                <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
        {% endif %}
        <li>
            <span class="pagination-ellipsis">…</span>
        </li>
        <li>
            <span class="pagination-link is-current">{{ page_obj.number }}</span>
        </li>
        <li>
            <span class="pagination-ellipsis">…</span>
        </li>
        {% if page_obj.has_next %}
            <li>
                <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li>
                <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">»</a>
            </li>
        {% endif %}
    </ul>
</div>
